.cityToggleContainer {
  display: flex;
  gap: 16px;
}

.cityToggleButton {
  background: none;
  border: none;
  font-size: 2.5rem;
  width: 150px;
  text-align: center;
  color: #bfc8d1;
  cursor: pointer;
  transition: color 0.2s, font-weight 0.2s;
}

.cityToggleButton:hover {
  color: #b2bbc3;
}

.cityToggleButton.active {
  font-weight: bold;
  color: #000;
}
