.nextDaysContainer {
  background-color: #4c90d3;
  padding: 20px;
  color: #fdfcdc;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin: 25px 0;
}

.nextDaysTitle {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.dayIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.date {
  font-size: 1rem;
}

.nextDaysGrid {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: 8px;
  padding-bottom: 10px;
}

.singleDay {
  border-radius: 8px;
  width: 90px;
  padding: 10px;
  background-color: #161619;

  margin: 8px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  transition: background-color 0.5s, transform 0.3s;
  transform-origin: center;
}

.singleDay:hover {
  transform: scale(1.07);
}
