@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.cityToggleButton {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 100px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.leftCol {
  width: 64%vw;
}

.rightCol {
  width: 34%;
}
.forecast {
  display: flex;
  justify-content: left;
}
