@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1d1d1d;
  color: #fdfcdc;
}

.cityToggleButton {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 50px;
  width: 65vw;
  background-color: #121212;
  border-radius: 10px;
  padding: 30px;
}

.forecast {
  display: flex;
  justify-content: left;
}

.cityWeather {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  display: flex;
  width: 100%;
}

@media (max-width: 1199px) {
  .cityWeather {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 840px) {
  .footer {
    flex-direction: column;
  }
  .container {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
